.Title{

font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 96px;
line-height: 96px;
/* or 101% */
text-align: left;
letter-spacing: 0.055em;
color: #FFFFFF;

margin-bottom: 2%;
}
.SubTitle{
  
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 72px;
    width:70%;
    /* or 132% */
   text-align: left;
    letter-spacing: 0.035em;
    
    color: #FAFAFA;
    
}
.Text{
    font-size: 2em;
    margin:0.7% 0%;
    text-align: left;
    color: #FAFAFA;
}