.authBoard{
    display: flex;
    flex-direction: column;
    width :60%;
    height: 70%;
    background-image: url("./background.jpeg");
    background-position: center;
    background-size: cover;
    background-color: rgb(125, 226, 158);
    box-shadow: 2px 4px 19px 0px rgba(0,0,0,0.49);
    border-radius: 3%;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}